
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

model-training-tfjs/fer2013.csv
model-training-tfjs/logs
model-training-tfjs/*.log
model-training-tfjs/npm-debug.log*
model-training-tfjs/yarn-debug.log*
model-training-tfjs/yarn-error.log*
model-training-tfjs/pnpm-debug.log*
model-training-tfjs/lerna-debug.log*
model-training-tfjs/node_modules
model-training-tfjs/dist
model-training-tfjs/dist-ssr
model-training-tfjs/*.local
model-training-tfjs/.vscode/*
model-training-tfjs/!.vscode/extensions.json
model-training-tfjs/.idea
model-training-tfjs/.DS_Store
model-training-tfjs/*.suo
model-training-tfjs/*.ntvs*
model-training-tfjs/*.njsproj
model-training-tfjs/*.sln
model-training-tfjs/*.sw?